<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusicBean"
          class="com.matuageorge.springcourse.ClassicalMusic"
          factory-method="getClassicalMusic">
    </bean>
    <bean id="jazzMusicBean"
          class="com.matuageorge.springcourse.JazzMusic">
    </bean>
    <bean id="rockMusicBean"
          class="com.matuageorge.springcourse.RockMusic">
    </bean>
    <bean id="musicPlayerBean"
          class="com.matuageorge.springcourse.MusicPlayer"
          init-method="initMusicPlayer"
          destroy-method="destroyPlayer">
        <property name="musicList">
            <list>
                <ref bean="jazzMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="classicalMusicBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>